@charset "UTF-8";

// base
@use "base/font";
@use "base/reset";
@use "base/common";

// component
@use "component/header";
@use "component/card";
@use "component/popup";

// page
@use "page/gate";
@use "page/work";
