// abstracts
@use "@style/abstracts/variables" as *;
@use "@style/abstracts/mixin" as mix;

// card
.card {
  padding-top: 6rem;
  &__wrap {
    position: relative;
  }
  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 2;
    position: absolute;
    top: -6rem;
    pointer-events: none;
  }
  &__num {
    margin-top: 1.8rem;
    margin-right: 4rem;
    @include mix.en-20($weight: 500);
  }
  &__tit {
    font-family: "Montserrat", "Pretendard";
    font-size: 5.4rem;
    line-height: 6rem;
    font-weight: 500;
    color: $color-dark-1;
    word-break: keep-all;
  }
  &__ico-box {
    display: inline-block;
    margin-left: 2rem;
    width: 3rem;
    transform: translateY(-0.5rem);
  }
  &__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    height: 3rem;
  }

  &__img-box {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background: none;
    aspect-ratio: 36 / 23;
    position: relative;
    a,
    button {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
    }
    &:hover .card__arrow {
      @include mix.respond-to("pc") {
        opacity: 1;
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }

  &__arrow {
    position: absolute;
    bottom: 2.8rem;
    right: 2.8rem;
    width: 5.4rem;
    height: 5.4rem;
    padding: 1.7rem;
    border-radius: 50%;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.25) 20%,
      rgba(255, 255, 255, 0)
    );
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.2s ease-in;
    opacity: 0;
    z-index: 2;
  }
  &__arrow-ico {
    rotate: 90deg;
    opacity: 1;
  }

  &__txt-box {
    margin-top: 2rem;
  }

  &__txt-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-bottom: 1.8rem;
  }
  &__tag,
  &__year {
    @include mix.en-20($weight: 500);
  }
  &__desc {
    line-height: 2.8rem;
    @include mix.kr-18();
  }
  &__dimm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    @include mix.en-20($color: #fff);
  }
  @include mix.respond-to("tablet") {
    &__arrow {
      opacity: 1;
    }
  }
  @include mix.respond-to("mobile") {
    padding-top: 3.8rem;
    &__title {
      top: -3.8rem;
    }
    &__num {
      margin-top: 1.4rem;
      margin-right: 1.8rem;
    }
    &__tit {
      font-size: 3.2rem;
      line-height: 3.8rem;
    }
    &__ico-box {
      width: 1.8rem;
      margin-left: 1rem;
      transform: translateY(-0.2rem);
    }
    &__ico {
      line-height: 1.8rem;
      height: 1.8rem;
    }
    &__arrow {
      bottom: 1.4rem;
      right: 1.4rem;
      width: 2.8rem;
      height: 2.8rem;
      padding: 0.8rem;
      opacity: 1;
    }
    &__txt-box {
      margin-top: 1.2rem;
    }
    &__txt-top {
      margin-bottom: 0.4rem;
      gap: 0.4rem;
    }
    &__desc {
      line-height: 2rem;
    }
  }
}
