// abstracts
@use "@style/abstracts/variables" as *;
@use "@style/abstracts/mixin" as mix;

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
  &__wrap {
    display: flex;
    flex-direction: column;
    width: calc(100% - 16rem);
    max-width: 80rem;
    max-height: calc(100% - 16rem);
    margin-top: -5.8rem;
  }
  &__head {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.8rem;
    max-width: 80rem;
  }
  &__btn {
    width: 4rem;
    height: 4rem;
    padding: 0.2rem;
  }
  &__body {
    flex-shrink: 1;
    background-color: #fff;
    padding: 2rem;
    max-width: 80rem;
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.2);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.02em;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    em {
      font-weight: 600;
      margin-bottom: -1rem;
    }
    img {
      border: 1px solid rgba($color: $color-dark-1, $alpha: 0.15);
    }
  }
  &__body-wrap {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-basis: 100%;
    flex-shrink: 1;
    min-height: 0;
    gap: 1.8rem;
  }
  &__title {
    @include mix.kr-18($weight: 600);
  }
  &__img {
    width: 100%;
  }
  &__link-wrap {
    flex-shrink: 0;
    margin-top: 2rem;
  }
  &__link {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1rem;
    @include mix.kr-18($weight: 400);
  }
  &__link-ico {
    width: 1.4rem;
    height: 1.4rem;

    transform: rotate(90deg);
  }
  @include mix.respond-to("mobile") {
    &__head {
      margin-bottom: 1rem;
    }
    &__wrap {
      width: calc(100% - 4rem);
      max-height: calc(100% - 4rem);
      margin-top: -2rem;
    }
    &__btn {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}
