// abstracts
@use "@style/abstracts/variables" as *;
@use "@style/abstracts/mixin" as mix;

// 메인
.main {
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 17.6rem;
      height: 17.6rem;
      background-color: $color-point-1;
      filter: blur(20rem);
      top: -8.8rem;
      left: -8.8rem;
      z-index: -1;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 17.6rem;
      height: 17.6rem;
      background-color: $color-point-1;
      filter: blur(20rem);
      bottom: -8.6rem;
      right: -8.6rem;
      z-index: -1;
    }
  }
  &__cont {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  &__top,
  &__bottom {
    padding: 0 5.5rem 0 6.8rem;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__tit {
    display: flex;
    width: fit-content;
    margin: 3rem 0 2.5rem 5rem;
    align-items: flex-end;
  }
  &__tit-ico {
    width: 5rem;
    height: 5rem;
    transform: translateY(1.5rem);
  }
  @include mix.respond-to("tablet") {
    &__top,
    &__bottom {
      padding: 0 3.5rem 0 4rem;
    }
    &__tit {
      margin: 2rem 0 1.8rem 3rem;
    }
    &__tit-ico {
      width: 3.3rem;
      height: 3.3rem;
      transform: translateY(-1.5rem);
    }
  }
  @include mix.respond-to("mobile") {
    &__wrap {
      &::before {
        width: 8rem;
        height: 8rem;
        top: -4rem;
        left: -3rem;
        filter: blur(10rem);
      }
      &::after {
        width: 8rem;
        height: 8rem;
        bottom: -4rem;
        right: -3rem;
        filter: blur(10rem);
      }
    }
    &__top,
    &__bottom {
      padding: 0 2.5rem 0 2.5rem;
    }
    &__tit {
      margin: 1.5rem 0 1.2rem 2rem;
    }
    &__tit-ico {
      width: 2.5rem;
      height: 2.5rem;
      transform: translateY(-3rem);
    }
  }
}

.main-top {
  display: flex;
  justify-content: space-between;

  &__txt {
    @include mix.en-18();
  }
}

.main-tit {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18rem;
  line-height: 14.5rem;
  color: $color-dark-1;
  z-index: 1;

  @mixin tit-point($margin-r, $text) {
    display: inline-block;
    font-family: "Motesia";
    font-weight: 400;
    font-size: 30rem;
    line-height: 0;
    color: transparent;
    position: relative;
    margin-right: $margin-r;
    &::after {
      content: $text;
      display: inline-block;
      color: $color-point-1;
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
    }
    @include mix.respond-to("tablet") {
      font-size: 20rem;
      margin-right: calc($margin-r * 2 / 3);
    }
    @include mix.respond-to("mobile") {
      font-size: 10rem;
      margin-right: calc($margin-r / 3);
    }
  }

  &--o {
    @include tit-point(-4.2rem, "o");
    & {
      animation: textAni-o 1s ease-in-out forwards;
      @keyframes textAni-o {
        from {
          filter: blur(1.5rem);
          opacity: 0.1;
          transform: translateY(-0.1em);
        }
        to {
          filter: blur(0);
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  &--f {
    @include tit-point(-3rem, "f");
    & {
      animation: textAni-f 0.9s ease-in-out forwards;
      @keyframes textAni-f {
        from {
          filter: blur(1.5rem);
          opacity: 0.1;
          transform: translateY(0.1em);
        }
        to {
          filter: blur(0);
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  @include mix.respond-to("tablet") {
    font-size: 12rem;
  }
  @include mix.respond-to("mobile") {
    font-size: 6.6rem;
  }
}

.main-year {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;

  &__num {
    display: inline-flex;
    align-items: center;
    position: relative;
    @include mix.en-18();

    &:first-of-type {
      margin-right: 14rem;

      &::after {
        content: "";
        display: block;
        width: 10rem;
        height: 1px;
        position: absolute;
        right: -7rem;
        top: 50%;
        transform: translate(50%, -50%);
        background-color: $color-dark-1;
        animation: year-line 1s ease forwards;
        @keyframes year-line {
          from {
            width: 0;
          }

          40% {
            width: 0;
          }
        }
      }
    }
  }

  @include mix.respond-to("tablet") {
    margin-top: 0.2rem;
    &__num:first-of-type {
      margin-right: 8.6rem;
      &::after {
        width: 4.6rem;
        margin: 0 1.8rem;
        right: -6rem;
      }
    }
  }
  @include mix.respond-to("mobile") {
    margin-top: 0.2rem;
    &__num:first-of-type {
      margin-right: 4rem;
      &::after {
        width: 3rem;
        margin: 0 0.5rem;
        right: -2.5rem;
      }
    }
  }
}

.main-name {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  color: $color-dark-1;

  &__pct {
    font-family: "Motesia";
    font-weight: 400;
    font-size: 5rem;
    margin: 0 0.8rem;
  }
  &__txt {
    margin-top: 0.3rem;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 3.2rem;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;

    &::after {
      content: "";
      display: block;
      width: calc(100% - 6rem);
      height: 100%;
      position: absolute;
      top: 50%;
      right: 3rem;
      background-color: #fff;
      transform: translateY(-50%);
      animation: name-txt 0.7s 0.4s linear forwards;
      @keyframes name-txt {
        to {
          width: 0;
        }
      }
    }

    &::before {
      content: "";
      display: block;
      width: 2px;
      height: 60%;
      position: absolute;
      top: 55%;
      left: 3rem;
      background-color: $color-dark-1;
      transform: translateY(-50%);
      opacity: 0;
      animation: name-txt-line 0.7s 0.4s linear forwards;
      @keyframes name-txt-line {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 1;
        }
        20% {
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        40% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        60% {
          opacity: 0;
        }
        70% {
          opacity: 1;
        }
        80% {
          opacity: 0;
        }
        90% {
          opacity: 1;
        }
        to {
          left: calc(100% - 3rem);
          opacity: 0;
        }
      }
    }
  }
  @include mix.respond-to("tablet") {
    &__pct {
      font-size: 4rem;
      margin: 0 0.65rem;
    }
    &__txt {
      font-size: 2.8rem;
    }
  }
  @include mix.respond-to("mobile") {
    &__pct {
      font-size: 2.5rem;
      margin: 0 0.4rem;
    }
    &__txt {
      margin-top: 0.1rem;
      font-size: 1.6rem;
    }
  }
}

// about
.about {
  &__wrap {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background-image: linear-gradient(#dfecf7, #f7f8f9 50%);
  }

  &__line {
    width: 110%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(-3%, -8%);
    pointer-events: none;
    path {
      stroke-dasharray: 3000;
      stroke-dashoffset: -3000;
    }
  }

  &__cont {
    width: calc(100% - 16rem);
    margin: 0 auto;
    max-width: 140rem;
  }

  &.active {
    .about__line {
      opacity: 0.3;
      path {
        animation: draw 2.5s ease-in 0.5s forwards;
      }
    }
  }
  @include mix.respond-to("mobile") {
    &__line {
      width: 180%;
      transform: translate(-2%, -8%);
    }
    &__cont {
      width: calc(100% - 4rem);
    }
  }
}

.about-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 50vh;
  padding: 14rem 0 6rem;
  border-bottom: 1px solid $color-dark-1;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__deco {
    display: inline-flex;
    width: 12rem;
    height: 12rem;
    margin-left: -5rem;
    margin-bottom: 4.8rem;
    position: relative;
  }

  &__ico {
    width: 4rem;
    height: 4rem;
    margin: 4rem;
  }
  &__round {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: rotate 9s linear infinite;
    @keyframes rotate {
      to {
        rotate: 360deg;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 1.6rem;
  }

  &__contact {
    @include mix.kr-20();
  }
  @include mix.respond-to("mobile") {
    justify-content: flex-end;
    flex-direction: column;
    padding: 7rem 0 4rem;

    &__deco {
      width: 6rem;
      height: 6rem;
      margin-left: 0;
      margin-bottom: 2rem;
    }
    &__ico {
      width: 2.5rem;
      height: 2.5rem;
      margin: 2.25rem;
    }
    &__left {
      width: 100%;
    }
    &__right {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 0;
      gap: 1rem 2rem;
    }
  }
}

.about-name {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 9rem;
  line-height: 1.07;
  color: $color-dark-1;
  @include mix.respond-to("mobile") {
    font-size: 5.4rem;
  }
}

.about-namesub {
  display: inline-flex;
  align-items: center;
  margin-left: 2.3rem;

  &__txt {
    margin-left: 3.1rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 1.2rem;
      background-color: $color-dark-1;
      left: -1.5rem;
      top: calc(50% - 0.6rem);
      opacity: 0.3;
    }

    &:first-of-type {
      margin-left: 0;
      &::before {
        content: none;
      }
    }
    @include mix.kr-20($weight: 500);
  }
  @include mix.respond-to("mobile") {
    width: 100%;
    margin: 1.6rem 0;
    &__txt {
      margin-left: 2.1rem;
      &::before {
        height: 1rem;
        left: -1rem;
        top: calc(50% - 0.5rem);
      }
    }
  }
}

.about-bottom {
  display: flex;
  gap: 2rem;
  min-height: 50vh;
  padding: 6rem 0 14rem;
  @include mix.respond-to("mobile") {
    padding: 4rem 0 7rem;
    gap: 2.8rem;
    flex-direction: column;
  }
}

.about-group {
  flex-basis: 50%;

  &__tit {
    @include mix.en-20($weight: 600);
  }
  &__list {
    margin-top: 3rem;
  }
  &__item {
    margin-bottom: 1.8rem;

    &--large {
      margin-bottom: 3.2rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @include mix.respond-to("mobile") {
    &__list {
      margin-top: 1.6rem;
    }
    &__item {
      margin-bottom: 1.2rem;
      &--large {
        margin-bottom: 1.6rem;

        .about-item {
          flex-direction: column;
          gap: 0.8rem;
        }
      }
    }
  }
}

.about-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__year {
    min-width: 11.5rem;
    @include mix.kr-18($spacing: 0);

    &--during {
      min-width: 20rem;
    }
  }
  &__txt {
    line-height: 1.2;
    @include mix.kr-18();
  }
  &__sub-txt {
    display: block;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: -0.04em;
    color: $color-dark-1;
  }
  @include mix.respond-to("mobile") {
    &__year {
      min-width: 8rem;
      &--during {
        min-width: 14rem;
      }
    }
    &__sub-txt {
      margin-top: 0.4rem;
    }
  }
}

// skill

.skill {
  &__wrap {
    height: 350vh;
    background-color: $color-light-1;
  }

  &__sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: clip;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 20vh;
      background-image: linear-gradient(#f7f8f9, transparent);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 20vh;
      background-image: linear-gradient(transparent, #f7f8f9);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
}

.skill-list {
  height: 100%;
  width: 150rem;
  height: 150rem;
  position: absolute;
  right: calc(50% + 21rem);
  top: calc(50% - 75rem);
  border-radius: 50%;
  border: 1px solid $color-dark-1;

  &::before {
    content: "";
    display: block;
    width: calc(100% - 10rem);
    height: calc(100% - 10rem);
    border-radius: 50%;
    border: 1px solid $color-dark-1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    // z-index: -1;
  }

  &__tit {
    font-family: "Montserrat";
    font-size: 2.4rem;
    font-weight: 600;
    color: $color-dark-1;
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
  }

  &__list {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  &__item {
    position: absolute;
    right: 0;
    top: 50%;
    transform-origin: -75rem;

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        transform: translate(100%, -50%) rotate(#{($i - 1) * 10deg});
      }
    }
  }
}

.skill-item {
  margin-left: -2.45rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.3;
  transition: 0.3s ease;

  &--active {
    opacity: 1;

    .skill-item__box {
      opacity: 1;
    }
  }

  &__ico {
    width: 5rem;
    height: 5rem;
  }

  &__num {
    margin: 0 12.4rem 0 3rem;
    @include mix.en-60($spacing: -0.04em);
  }

  &__box {
    display: flex;
    align-items: center;
    opacity: 0;
  }

  &__img-cont {
    height: 6.4rem;
    margin-right: 4.4rem;
  }

  &__img {
    width: fit-content;
    height: 100%;
  }

  &__txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.7rem;
    transition: 0.3s ease;
  }

  &__sub {
    @include mix.en-20();
  }

  &__tit {
    @include mix.en-60();
  }
  @include mix.respond-to("tablet") {
    .skill-item__num {
      margin: 0 8rem 0 3rem;
    }
    .skill-item__img-cont {
      margin-right: 2.8rem;
    }
  }
}

// work
.work {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 16rem 0;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -15rem;
    top: -15rem;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: $color-point-1;
    filter: blur(20rem);
  }

  &__wrap {
    width: calc(100% - 16rem);
    max-width: 140rem;
    margin: 0 auto;
    padding-top: 14rem;
  }
  @include mix.respond-to("tablet") {
    .work__wrap {
      padding-top: 0;
    }
  }
}

.work-slide {
  overflow: visible;
  display: flex;
  align-items: stretch;

  &__item {
    max-width: 72rem;
    &.swiper-slide-active .work-slide__card {
      .card__tit,
      .card__desc {
        transition-delay: 0.3s;
        opacity: 1;
      }
    }
  }

  &__card {
    .card__tit {
      transition: 0.45s ease-in;
      opacity: 0;
    }
    .card__desc {
      transition: 0.3s ease-in;
      opacity: 0;
    }
  }
}

// contact
.contact {
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &__line {
    width: 110%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.2;
    transform: translate(-3%, -16%);
    pointer-events: none;
    path {
      stroke-dasharray: 3000;
      stroke-dashoffset: -3000;
    }
  }
  &__tit {
    width: 100%;
    background-color: $color-point-1;
    position: relative;
    z-index: 1;
    padding: 20rem 0 8rem;
  }
  &__tit-txt {
    display: flex;
    align-items: flex-end;
    width: calc(100% - 16rem);
    max-width: 140rem;
    margin: 0 auto;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 12rem;
    color: #ffffff;
  }
  &__tit-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 10rem;
    height: 5rem;
    margin-top: -5rem;
    border-radius: 10rem 10rem 0 0;
    background-color: #ffffff;
    z-index: 1;
    transform: translateY(1px);
  }
  &__button-ico {
    width: 2rem;
  }
  &__info {
    width: calc(100% - 16rem);
    max-width: 140rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7.8rem 0 5.7rem;
  }
  &__name {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 4.2rem;
    color: $color-dark-1;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    margin: 4rem 0 4.5rem;
  }
  &__item {
    line-height: 1;
    @include mix.kr-18();
  }
  &__copy {
    font-size: 1.4rem;
    color: $color-dark-1;
    opacity: 0.5;
  }
  &.active {
    .contact__line path {
      animation: draw 2.5s ease-in 0.5s forwards;
    }
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: -3000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
