// abstracts
@use "@style/abstracts/variables" as *;
@use "@style/abstracts/mixin" as mix;

// 메인
.main {
  &__wrap {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 55rem;
      height: 55rem;
      background-image: url("@/assets/img/main_round_top.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 67rem;
      height: 62.6rem;
      background-image: url("@/assets/img/main_round_bottom.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
  &__cont {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  &__top,
  &__bottom {
    padding: 0 5.5rem 0 6.8rem;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__tit {
    display: flex;
    width: fit-content;
    margin: 3rem 0 2.5rem 5rem;
    align-items: flex-end;
  }
  &__tit-ico {
    width: 5rem;
    height: 5rem;
    transform: translateY(1.5rem);
  }
}

.main-top {
  display: flex;
  justify-content: space-between;

  &__txt {
    @include mix.en-18();
  }
}

.main-tit {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18rem;
  line-height: 14.5rem;
  color: $color-dark-1;
  z-index: 1;
  &--o {
    display: inline-block;
    font-family: "Motesia";
    font-weight: 400;
    font-size: 30rem;
    line-height: 0;
    letter-spacing: -100%;
    color: transparent;
    position: relative;
    margin-right: -4.2rem;
    &::after {
      content: "o";
      display: inline-block;
      color: $color-point-1;
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &--f {
    display: inline-block;
    font-family: "Motesia";
    font-weight: 400;
    font-size: 30rem;
    line-height: 0;
    letter-spacing: -100%;
    color: transparent;
    position: relative;
    margin-right: -3rem;
    &::after {
      content: "f";
      display: inline-block;
      color: $color-point-1;
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.main-year {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;

  &__num {
    display: inline-flex;
    align-items: center;
    @include mix.en-18();

    &:first-of-type::after {
      content: "";
      display: block;
      width: 10rem;
      height: 1px;
      margin: 0 2rem;
      background-color: $color-dark-1;
    }
  }
}

.main-name {
  display: inline-flex;
  align-items: center;
  color: $color-dark-1;

  &__pct {
    font-family: "Motesia";
    font-weight: 400;
    font-size: 5rem;
    margin: 0 0.8rem;
  }
  &__txt {
    margin-top: 0.3rem;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 3.2rem;
    font-style: italic;
  }
}

// about
.about {
  &__wrap {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background-image: linear-gradient(#dfecf7, #f7f8f9 50%);
  }

  &__line {
    width: 110%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.3;
    transform: translate(-3%, -8%);
    path {
      stroke-dasharray: 3000;
      stroke-dashoffset: -3000;
      animation: draw 1.8s ease forwards;
    }

    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
  }

  &__cont {
    width: calc(100% - 3.2rem);
    margin: 0 auto;
    max-width: 140rem;
  }
}

.about-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 50vh;
  padding: 14rem 0 6rem;
  border-bottom: 1px solid $color-dark-1;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__deco {
    display: inline-flex;
    width: 12rem;
    height: 12rem;
    margin-left: -5rem;
    margin-bottom: 4.8rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-image: url("@/assets/img/roundtxt.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      animation: rotate 9s linear infinite;
      @keyframes rotate {
        to {
          rotate: 360deg;
        }
      }
    }
  }

  &__ico {
    width: 4rem;
    height: 4rem;
    margin: 4rem;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 1.6rem;
  }

  &__contact {
    @include mix.kr-20();
  }
}

.about-name {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 9rem;
  line-height: 1.07;
  color: $color-dark-1;
}

.about-namesub {
  display: inline-flex;
  align-items: center;
  margin-left: 2.3rem;

  &__txt {
    @include mix.kr-20($weight: 500);
    margin-left: 3.1rem;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 1.2rem;
      background-color: $color-dark-1;
      left: -1.5rem;
      top: calc(50% - 0.6rem);
      opacity: 0.3;
    }

    &:first-of-type {
      margin-left: 0;
      &::before {
        content: none;
      }
    }
  }
}

.about-bottom {
  display: flex;
  min-height: 50vh;
  padding: 6rem 0 14rem;
}

.about-group {
  flex-basis: 50%;

  &__tit {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 2rem;
    color: $color-dark-1;
  }
  &__list {
    margin-top: 3rem;
  }
  &__item {
    margin-bottom: 1.8rem;

    &--large {
      margin-bottom: 3.2rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.about-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__year {
    min-width: 11.5rem;
    @include mix.kr-18($spacing: 0);

    &--during {
      min-width: 20rem;
    }
  }
  &__txt {
    @include mix.kr-18();
  }
  &__sub-txt {
    display: block;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: -0.04em;
    color: $color-dark-1;
  }
}
